@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

*{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #FBF9F1;
}

/* Inicio nav */

.nav {
    height: 130px;
    background-color: #419197;
    display: flex;
}

.img-logo{
    width: auto;
    height: auto;
    margin: 20px;
    object-fit: cover;
    background-color: #419197;
}

.menu{
    width: 45%;
    display: flex;
    background-color: #419197;
}

.menu li a{
    text-decoration: none;
    background-color: #419197;
    color: #FBF9F1;
    font-weight: bold;
}

.menu li a:hover{
    background-color: #E55807;
    border-radius: 50px;
    padding: 10px 25px;
}

.list{
    list-style: none;
    margin-left: 15%;
    background-color: #419197;
}
/* fin barra nav */


/* inicio footer */

.line{
    width: 95%;
    background-color: #12486B;
    height: 2px;
}

.section-footer{
    color: #12486B;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    margin: 3% 0;
}
/* fin footer */