@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
}

/* menu hamburguesa */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburguer {
  position: relative;
  width: 40px;
  height: 4px;
  background-color: #FBF9F1;
  border-radius: 10px;
  z-index: 2;
  transition: 0.3s;
}

.hamburguer:before,
.hamburguer:after {
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  background-color: #FBF9F1;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburguer:before {
  top: -10px;
  width: 40px;
}

.hamburguer:after {
  top: 10px;
  width: 40px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: auto;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.hamburguer,
.toggle-menu {
  display: none;
}

.navigation input:checked~.hamburguer {
  background-color: transparent;
}

.navigation input:checked~.hamburguer:before {
  top: 0px;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked~.hamburguer:after {
  top: 0px;
  transform: rotate(45deg);
  width: 30px;
}

.navigation input:checked~.menu {
  right: 0;
}
/* fin menu hamburguesa */

/* Inicio nav */
.nav {
  background-color: #419197;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
}

.img-logo{
  background-color: #419197;
  height: 5vw;
  margin-left: 3%;
  margin-top: 1%;
}

.menu{
  width: 50vw;
  background-color: #419197;
  display: flex;
  justify-content: space-evenly;
}

.menu li a{
  text-decoration: none;
  background-color: #419197;
  color: #FBF9F1;
  font-weight: bold;
  padding: 10px 25px;
}

.menu li a:hover{
  background-color: #E55807;
  border-radius: 50px;
  padding: 10px 25px;
}

.list{
  list-style: none;
  background-color: #419197;
}
/* fin barra nav */

/* inicio description */
.description{
    margin: 2vw;
}

.title{
    color: #12486B;
}

.paragraph{
    text-align: justify;
}
/* fin description */

/*Container for instruments*/

#instruments {
  max-width: auto;
  position: relative;
  padding: 25%;
  cursor: url('/public/assets/img/drumstick.png'), auto;
}

.centered-image {
  display: none;}


/* Hola chicas aqui estoy yo, soy Leite es una prueba para ver si sale*/
/*SUPERPOSICIONES DE LOS INSTRUMENTOS*/
    .crash-left, .hihat-opened, .hihat-close, .small-tom4, .medium-tom3, .kick-bombo,
    .snare, .floor-tom2, .floor-tom1, .crash-right, .ride {
      position: absolute;
    }

    .crash-left {
      width: 178px;
      height: 200px;
      top: 10px;
      left: 230px;
    }

    .hihat-close {
      width: 145px;
      height: 145px;
      top: 170px;
      left: 150px;
    }

    .hihat-opened {
      width: 145px;
      height: 145px;
      top: 310px;
      left: 95px;
    }

    .small-tom4 {
      width: 220px;
      height: 220px;
      top: 200px;
      left: 270px;
    }

    .medium-tom3 {
      width: 200px;
      height: 200px;
      top: 130px;
      left: 480px;
    }

    .kick-bombo {
      width: 400px;
      height: 250px;
      top: 350px;
      left: 450px;
    }

    .snare {
      width: 270px;
      height: 270px;
      top: 370px;
      left: 180px;
    }

    .floor-tom2 {
      width: 280px;
      height: 280px;
      top: 95px;
      left: 650px;
    }

    .floor-tom1 {
      width: 250px;
      height: 250px;
      top: 270px;
      left: 850px;
    }

    .crash-right {
      width: 200px;
      height: 200px;
      top: 10px;
      left: 880px;
    }

    .ride {
      width: 250px;
      height: 250px;
      top: 120px;
      left: 1080px;
    }
/* fin instrument */

 #img-crash-l:active, #img-crash-r:active,  #img-tom-1:active,
 #img-small-tom:active, #img-bombo:active, #img-snare:active,
 #img-snare:active, #img-hi-hat-c:active, #img-hi-hat-o:active,
 #img-ride:active, #img-tom-2:active,  #img-medium-tom:active
   {
    animation: shake 0.30s;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* fin instrument */

/* Inicio de tabla */

table {
  margin: 10px 5px 0px 5px;
}

th {
  text-align: left;
  background-color: #419197;
}

td {
  background-color: #78D6C6;
}

th, td {
  padding: 10px;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.responsiveTable {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.aling{
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

/* Fin de tabla */

/* inicio footer */

 .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  width: 95vw;
  background-color: #12486B;
  height: 2px;
}

.section-footer{
  width: 95vw;
  color: #12486B;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f2 {
  text-align: right;
} 

/* fin footer */

@media only screen and (min-width: 320px) and (max-width: 1000px){

  /* inicio menu hamburguesa */
  .hamburguer,
      .toggle-menu {
          display: block;
      }
  
      .menu {
          justify-content: start;
          flex-direction: column;
          position: fixed;
          width: 135px;
          height: auto;
          margin-top: 70%;
          margin-left: 15%;
          padding: 10%;
      }
  
      .menu li a{
          font-size: 16px;
      }
  
      .list{
          margin-top: 50%;
          text-align: end;
          margin-right: 30%;
      }
  /* fin menu hamburguesa */

  #instruments{

    display: none;
  }
  
  /* inicio nav */
       .img-logo{
          height: 10vw;
          margin: 1%;
       }
  
       .nav{
          height: 15vw;
          padding: 2%;
       }
  
  /* fin nav */

  .responsiveTable{
    display: none;
  }

   /* inicio footer */
.line{
  margin-left: 2%;
}

.section-footer{
  display: contents;
}

.copyright{
  font-size: 24px;
}

.networks {
font-size: 18px;
}

.logos{
  font-size: 30px;
}

.f2 {
  font-size: 24px;
  line-height: 80%;
  text-align: center;
}
/* Nuevo estilo para el footer en pantallas pequeñas */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FBF9F1; /* Ajusta el color de fondo según tus preferencias */
  padding: 10px; /* Ajusta el relleno según tus preferencias */
  z-index: 1000; /* Ajusta el índice de apilamiento según tus necesidades */
}

.centered-image {
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  max-width: 40%; /* Ajusta el ancho máximo según tus preferencias */
  height: auto;
  margin-top: 20%;
}

.responsive-text {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}


/* fin footer */
}



@media only screen and (min-width: 1001px) { /*vertical*/
  .responsive-text {
      display: none;
  }
}


/* Contenido pantalla movil horizontal */

/* Contenido pantalla movil horizontal */
@media only screen and (max-width: 933px) and (orientation: landscape) {
  .footer {
    display: none; /* Ocultar contenido en posición horizontal */
  }
  .nav {
    display: none; /* Ocultar contenido en posición horizontal */
  }
  .description {
    display: none; /* Ocultar contenido en posición horizontal */
  }
  .responsive-text {
    display: none; /* Ocultar contenido en posición horizontal */
  }
  .centered-image{
    display: none; /* Ocultar contenido en posición horizontal */
  }
  #instruments {
    display: block !important;
    margin-right: 10%;
  }

  /*SUPERPOSICIONES DE LOS INSTRUMENTOS*/
  /*SUPERPOSICIONES DE LOS INSTRUMENTOS*/
.crash-left {
  width: 18%;
  height: 33%;
  top: 5%;
  left: 25%;
}

.hihat-close {
  width: 15%;
  height: 25%;
  top: 27%;
  left: 10%;
}

.hihat-opened {
  width: 15%;
  height: 25%;
  top: 53%;
  left: 4%;
}

.small-tom4 {
  width: 18%;
  height: 28%;
  top: 38%;
  left: 25%;
}

.medium-tom3 {
  width: 18%;
  height: 28%;
  top: 25%;
  left: 40%;
}

.kick-bombo {
  width: 32%;
  height: 30%;
  top: 55%;
  left: 38%;
}

.snare {
  width: 21%;
  height: 33%;
  top: 56%;
  left: 18%;
}

.floor-tom2 {
  width: 20%;
  height: 32%;
  top: 28%;
  left: 56%;
}

.floor-tom1 {
  width: 18%;
  height: 28%;
  top: 48%;
  left: 68%;
}

.crash-right {
  width: 15%;
  height: 27%;;
  top: 10%;
  left: 65%;
}

.ride {
  width: 18%;
  height: 28%;
  top: 29%;
  left: 80%;
}

}
