@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
}


/* Inicio nav */

.nav {
    background-color: #419197;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
}

.img-logo{
    background-color: #419197;
    height: 7vw;
}

.menu{
    width: 50vw;
    background-color: #419197;
    display: flex;
    justify-content: space-evenly;

}

.menu li a{
    text-decoration: none;
    background-color: #419197;
    color: #FBF9F1;
    font-weight: bold;
    padding: 10px 25px;
}

.menu li a:hover{
    background-color: #E55807;
    border-radius: 50px;
    padding: 10px 25px;
}

.list{
    list-style: none;
    background-color: #419197;
}
/* fin barra nav */

/* inicio description */
.description{
    margin: 2vw;
}

.title{
    color: #12486B;
}

.paragraph{
    text-align: justify;
}
/* fin description */

/*Container for instruments*/

#instruments {
  position: relative;
  padding: 32%;
}

/*SUPERPOSICIONES DE LOS INSTRUMENTOS*/
    .crash-left, .hihat-opened, .hihat-close, .small-tom4, .medium-tom3, .kick-bombo,
    .snare, .floor-tom2, .floor-tom1, .crash-right, .ride {
      position: absolute;
    }

    .crash-left {
      width: 178px;
      height: 200px;
      top: 2em;
      left: 12em;
    }

    .hihat-close {
      width: 145px;
      height: 145px;
      top: 10.5em;
      left: 9em;
    }

    .hihat-opened {
      width: 145px;
      height: 145px;
      top: 17.5em;
      left: 6em;
    }

    .small-tom4 {
      width: 220px;
      height: 220px;
      top: 10.5em;
      left: 15em;
    }

    .medium-tom3 {
      width: 200px;
      height: 200px;
      top: 9em;
      left: 26em;
    }

    .kick-bombo {
      width: 400px;
      height: 250px;
      top: 20.5em;
      left: 25.5em;
    }

    .snare {
      width: 270px;
      height: 270px;
      top: 19em;
      left: 12em;
    }

    .floor-tom2 {
      width: 280px;
      height: 280px;
      top: 7.5em;
      left: 36em;
    }

    .floor-tom1 {
      width: 250px;
      height: 250px;
      top: 20em;
      left: 46em;
    }

    .crash-right {
      width: 200px;
      height: 200px;
      top: 3em;
      left: 48em;
    }

    .ride {
      width: 250px;
      height: 250px;
      top: 10em;
      left: 56em;
    }
/* fin instrument */

 #img-crash-l:active, #img-crash-r:active,  #img-tom-1:active,
 #img-small-tom:active, #img-bombo:active, #img-snare:active,
 #img-snare:active, #img-hi-hat-c:active, #img-hi-hat-o:active,
 #img-ride:active, #img-tom-2:active,  #img-medium-tom:active
   {
    animation: shake 0.30s;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* fin instrument */

/* inicio footer */

 .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  width: 95vw;
  background-color: #12486B;
  height: 2px;
}

.section-footer{
  width: 95vw;
  color: #12486B;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f2 {
  text-align: right;
} 

/* fin footer */