@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBF9F1;
}


/* Inicio nav */

.nav {
    background-color: #419197;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
}

.img-logo{
    background-color: #419197;
    height: 7vw;
}

.menu{
    width: 50vw;
    background-color: #419197;
    display: flex;
    justify-content: space-evenly;

}

.menu li a{
    text-decoration: none;
    background-color: #419197;
    color: #FBF9F1;
    font-weight: bold;
    padding: 10px 25px;
}

.menu li a:hover{
    background-color: #E55807;
    border-radius: 50px;
    padding: 10px 25px;
}

.list{
    list-style: none;
    background-color: #419197;
}
/* fin barra nav */

/* inicio secciones */
.container{
    display: flex;
    width: 100%;
}

.section-center{
    background-color: #FBF9F1;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title{
    font-weight: 800;
    font-size: 100px;
    color: #12486B;
    margin: 7% 0 0 15%;
    line-height: 108%;
}

.title-coders{
    font-weight: 800;
    font-size: 100px;
    color: #12486B;
    margin-left: 100px;
}

.subtitle{
    font-size: 42px;
    color: #E55807;
    font-weight: 400;
    margin: 7% 0 0 15%;
}

.paragraph{
    margin-left: 15%;
    font-size: 24px;
    color: #12486B;
    text-align: justify;
    width: 65%;
}

.section-img{
    background-color: #FBF9F1;
    margin-right: 4%;
}

.img-body{
    margin-top: 7%;
}
/* fin secciones */

/* inicio footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between;
    margin: 1vw; */
}

.line{
    width: 95vw;
    background-color: #12486B;
    height: 2px;
}

.section-footer{
    width: 95vw;
    color: #12486B;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.networks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f2 {
    text-align: right;
}

/* fin footer */