@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins';
}

/* Inicio nav */

/*------------------------------------------*/

/* START INSTRUMENTS SECTION */
/*ALL INSTRUMENTS COMPONENTS*/

/* img boxes */
img {
    width: 20em;
    height: 15em;
}

/* titles and subtitles */
h2, h4 {
    color: #12486B;
}

h2:hover, h4:hover {
    color: #E55807;
}

/* tutorials */
.tutorial {
    color:#E55807;
    margin-left: 5%;
    font-size: 0.8em;
    font-weight: normal;
}

/* tutorials link*/

.link-tutorial {
    color: #E55807;
    font-weight: normal;
}

/* All description list of instruments */
.list-drumset, .list-guitar, .list-piano, .list-kalimba {
    color: #12486B;
    font-family: Poppins;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* All containers instruments */
.drumset, .guitar, .piano, .kalimba {
    margin-top: 6%;
    margin-bottom: 5%;
}

/*------------------------------------------*/
/* START DRUMSET AND PIANO SECTION*/
.drumset, .piano {
    display: flex;
    justify-content: start;
    align-items: center;
}

.drumset h2, .piano h2 {
     margin-left: 5%;
}

.drumset img, .piano img {
    border-radius: 0 20% 20% 0%;
}

.description-drumset, .description-piano {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list-drumset, .list-piano {
    margin: 5%;
    width: 30%;
    height: 50%;
    border-left: #E55807 0.3em solid;
    padding-left: 4.5%;   
}
/* END DRUMSET AND PIANO SECTION */

/* ---------------------------------------*/
/* START GUITAR AND KALIMBA SECTION */
.guitar, .kalimba {
    display: flex;
    flex-direction: row-reverse;
}

.guitar h2, .kalimba h2 {
    text-align: end;
    margin-right: 5%;
}

.kalimba p {
    text-align: end;
    margin-right: 5%;
}

.guitar img, .kalimba img {
    border-radius: 20% 0% 0% 20%;
}

.description-guitar, .description-kalimba {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.list-guitar {
    margin: 5%;
    width: 25%;
    height: 40%;
    border-left: #E55807 0.3em solid;
    padding-left: 4.5%; 
}

.list-kalimba {
    margin: 5%;
    width: 35%;
    height: 40%;
    border-left: #E55807 0.3em solid;
    padding-left: 4.5%;
}
/* END GUITAR AND KALIMBA SECTION */

/*----------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 760px) {

    /*ALL COMPONENTS OF INSTRUMENTS query*/
    h2 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.48em;
    }

    img {
        width: 7em;
        height: 6em;
    }

    p {
        font-size: 8px;
    }

    .tutorial {
        font-size: 0.45em;
    }
    /* END ALL COMPONENTS INSTRUMENTS */

/*---------------------------------------------*/
    /* ALL CONTAINERS INSTRUMENT query */

    .drumset, .guitar, .piano, .kalimba {
        align-items: center;
    }

    .description-drumset, .description-guitar, .description-piano, .description-kalimba {
        flex-direction: column;
    }

    .list-guitar, .list-kalimba {
        border-right: #E55807 0.3em solid;
        padding-right: 4.5%;
        border-left: none;
        height: 30%;
        text-align: end;
    }
    
    .list-drumset, .list-guitar, .list-piano, .list-kalimba {
        font-size: 0.35em;
        font-weight: normal;
        width: 35%;
    }
    /* END ALL CONTAINERS INSTRUMENT query*/
}