@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

* {
    margin: 0;
    font-family: poppins;
}

/*INSTRUMENT IMG*/
img {
    width: 65%;
    height: 65%;
}

/*DRUMSET SECTION*/
.drumset {
    display: flex;
    justify-content: space-around;
    
}

.drumset img {
    border-radius: 0 20% 20% 0%;
}